*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
a{
    text-decoration: none;
}
header {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    cursor: pointer;
}
.logo a{
    padding-left: 15rem;
    color: #000;
    font-size: 3rem;
    font-family: 'Stardom', sans-serif;
}
.searchbox {
    border: 3px solid #000;
    padding: 5px;
    border-radius: 30px;
    position: relative;
}
.element-cont{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search {
    border: none;
    height: 100%;
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}
.search:focus {
    outline: none;
}
.searchbox i {
    cursor: pointer;
}


.cont-hero {
    /* border: 1px solid #000; */
    margin-top: 2rem;
}
.container-hero {
    /* border: 1px solid #000; */
    max-width: 80%;
    margin: 20px auto;
    text-align: start;
}

.slide1 {
    padding: 20px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    font-family: sans-serif;
    /* position: relative; */
}
.slide1 img {
    width: 240px;
    height: 250px;
    border-radius: 20px;
}
.slide1 .txt {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}
.slide1 .txt p {
    padding-top: 12px;
}
.btn-submit {
    margin-top: 20px;
}
.btn-submit button {
    padding: 12px 30px;
    border-radius: 12px;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}
.btn-submit button:hover {
    background-color: #000;
    color: #fff;
}

/* DAILY LEARN SECTION */

.learn {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    margin: 10px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-align: center;
    margin-top: 6rem;
}
