@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */


*{
    margin: 0;
}
body{
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;
    background-color: #0A2647;
    color: #fff;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}

/* SIDENAVBAR HTML  */
.box-cont-1 {
    min-height: 100vh;
    width: 220px;
    max-width: 220px;
}
.sideBar{
    position: fixed;
    text-align: center;
    padding: 20px;
    height: 100%;
    font-size: 19px;
}
.sideBar a{
    text-align: center;
    display: block;
    padding: 30px 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    border-radius: 40px;
    transition: 0.1s all;
}
.sideBar .nav i{
    margin-right: 10px;
}
.sideBar a:hover {
    background-color: #2C74B3;
}
.logo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding: 20px 30px 90px 30px;
}

/* MAIN SECTION OF THE QUIZVERSE  */
.box-cont-2 {
    width: 710px;
    max-height: 200vh;
}
.greet {
    width: 60%;
    margin-left: 80px;
    margin-top: 20px;
    padding: 10px;
}
.greet h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
.greet h1 {
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
}

/* MAIN CONT CSS */

.main__box {
    /* border: 1px solid; */
    background-color: #144272;
    width: 75%;
    margin: 50px auto;
    padding: 50px;
    box-shadow: 10px -10px 66px -6px rgba(0,0,0,0.75);
    border-radius: 30px;
}
.main__box .img__main img{
    width: 220px;
    float: right;
    margin-left: 20px;
}
.main__box .txt__main {
    padding: 5px;
    text-align: start;
    margin-right: 12px;

}
.main__box .txt__main h1 {
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 12px;
}
.main__box .txt__main p {
    font-family: sans-serif;
    line-height: 21px;
    padding-bottom: 8px;
}
.btn-cta {
    margin-top: 10px;
}
.btn-cta button {
    padding: 10px 20px;
    background-color: #144272;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.1s ease-in-out;
}
.btn-cta button:hover {
    background-color: #0A2647;
}




/* GENRES OF QUIZZING SECTION  */
.box-cont-3 {
    width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
.heading__cont-3{
    margin: 20px;
    background-color: #144272;
    /* border: 2px solid #fff; */
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px -10px 44px -18px rgba(0,0,0,0.75);
}

.genre__cont a {
    display: block;
    padding: 20px;
    margin: 10px;
    border-radius: 40px;
    text-align: center;
    margin-top: 20px;
    transition: 0.1s ease-in-out;
}
.genre__cont a:hover {
    background-color: #144272;
}