*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 40px;
    padding: 16px;
    border-radius: 20px;
    border-bottom: 2px solid lightgrey;
}
.logo h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu nav a{
    text-decoration: none;
    color: grey;
    margin-right: 60px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s ease;
}
.menu nav a:hover {
    color: #000;
}
.account {
    margin-right: -20px;
}

.account button {
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s ease-in-out;
}
.account button:hover {
    background-color: #000;
    color: #fff;
}
