* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fff1e6;   
    font-family: sans-serif;
}

/* COMMON CSS  */
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}

/* Header  */
header {
    margin: 20px 40px;
}
nav {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    display: flex;
}
.navbar li a {
    padding: 0 30px;
    font-family: 'Clash Display', sans-serif;
}

.logo {
    font-family: 'Satoshi', sans-serif;
}
.logo h1 {
    font-size: 28px;
}